.card {
    background-color: aliceblue;
    width: 200px;

    p {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.card-name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-image{
    height: 200px;
    width: 200px;
}


.card-location {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-btn {
    margin-bottom: 5%;
    padding: 5%;
    color: white;
    background-color: rgb(58, 58, 58);
    border: none;
    cursor: pointer;
}

.card-btn:hover {
    background-color: rgb(115, 115, 115);
}

.text-end {
    text-align: end;
    justify-content: end;
}