body {
    background-image:url(../images/background-by-adult-swim.png);
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: brightness(50%);
    height: auto;
}

.text-center{
    text-align: center;
}

.text-white {
    color: white;
}

.logo-rick-et-morty {
    height: 150px;
}

.logo-header {
    height: 50px;
    margin: 10px;
}